.div-module{
	margin: 10px;
}

.button_style{
	flex: 1;
	margin: 5px;
	font-size: 16px;
	color: black;
	border-radius: 6px;
	outline:none;
}
.btn:hover{
            background-color: #ff0000;
        }
#p{
    color:red;
    font-size: 16px;
    padding: 20px;
}
#img{
    width:120px;
    height:50px;
    size:100px;
}
#a{
	color: black;
	font-size: 16px;
}

body{
margin: 10px
}

